
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f6f7f9;
}

/* HEADER */
.header {
  background: linear-gradient(135deg, #ffb199, #ff7e5f);
  padding: 15px;
  border-radius: 0 0 20px 20px;
  color: black;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  margin: 0;
  font-size: 18px;
}

.header p {
  margin: 0;
  font-size: 12px;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.wallet, .profile {
  background: white;
  padding: 8px;
  border-radius: 50px;
  font-size: 12px;
}

/* SEARCH */
.search {
  margin-top: 10px;
  background: white;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  border: none;
  outline: none;
  flex: 1;
}

/* CATEGORY */
.categories {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
}

.cat {
  text-align: center;
  margin-right: 15px;
  font-size: 12px;
}

.cat i {
  font-size: 18px;
}

.cat.active {
  border-bottom: 2px solid black;
}

/* FESTIVAL */
.festival {
  background: #ffe4d6;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.festival h1 {
  color: #c40000;
  margin: 5px 0;
}

.festival-row {
  display: flex;
  gap: 10px;
}

.festival-card {
  flex: 1;
  background: #ff7e5f;
  color: white;
  padding: 15px;
  border-radius: 15px;
  font-size: 12px;
}

/* SECTIONS */
.section-title {
  margin-left: 10px;
}

/* SCROLL */
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

/* FREQUENT */
.freq-card {
  background: #dce9e9;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 120px;
}

/* PRODUCT CARDS */
.product-card {
  min-width: 130px;
  height: 100px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: end;
}

/* COLORS */
.gold { background: linear-gradient(135deg, gold, orange); }
.blue { background: linear-gradient(135deg, #3a7bd5, #00d2ff); }
.pink { background: linear-gradient(135deg, #ff758c, #ff7eb3); }
.grey { background: linear-gradient(135deg, #757f9a, #d7dde8); }

/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.bottom-nav div {
  text-align: center;
  font-size: 12px;
}

.bottom-nav .active {
  color: #ff7e5f;
}
